<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Info</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    <!-- Latest News Mars -->
    <div class="row" id="latest-news">
      <div class="col-md-12">
        <h2 class="heading">Latest Mars News</h2>
        <h3>{{info.title}}</h3>
        <h4>{{info.paragraph}}</h4>
      </div>
    </div>

    <!-- Mars Image -->
    <div class="row" id="mars_image_facts">
      <div class="col-md-8">
        <h2 class="heading">Featured Mars Image</h2>
        <img src="{{info.image_url}}" alt = "Mars Image">
      </div>

      <div class="col-md-4">
        <h3> Mars Facts</h3>
        {%for row in info.facts_table%}
        {{row}}
        {% endfor %}
      </div>
    </div>

     <!-- Mars' Hemispheres Images -->
     <div class="row" id="mars_hemispheres">
      <div class="col-md-12">
        <h2 class="heading">Mars Hemispheres</h2>
        {%for image in info.hemisphere_images%}
        <div class = "col-md-3">
          <div class="card">
            <div class="card_body">
              <h4 class="card_title"> {{image.title}}</h4>
              <img class= "card_image" src="{{image.img_url}}" width="250" height="250" 
              alt = "Hemispheres Image">
            </div>
          </div>
        </div>
    
        {% endfor %}
      </div>
    </div>

  </div>
</body>

</html>